{% load static %}
{% load addclass %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href={% static 'main/bootstrap/css/bootstrap.min.css' %}>
	<link rel="stylesheet" href={% static 'main/style.css' %}>
	
	<script src={% static 'main/bootstrap/js/bootstrap.min.js' %}></script>
	<script src={% static 'main/jquery-3.6.0.min.js' %}></script>

	<title>Bookstor</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'index' %}">Bookstor</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'index' %}">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'book_create' %}">Добавить книгу</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'authors' %}">Авторы</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users' %}">Пользователи</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item  dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.get_username }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Выйте</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Войти</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{% block contant %}
		{% endblock %}
	</div>
</body>

</html>