{% extends "layout.html" %}

{% block contant %}
<div class="btn-group" role="group">
	<a class="btn btn-outline-primary" href="{% url 'author_updeate' user_info.id  %}">Изменить</a>
	<a class="btn btn-outline-primary" href="{% url 'author_delete' user_info.id  %}">Удалить</a>
</div>

<h1>{{ author }}</h1>

{% for book in author.book_set.all %}
<div class="card" style="width: 18rem;">
	<div class="card-body">
	  <h5 class="card-title">{{ book.title }}</h5>
	  <h6 class="card-subtitle mb-2 text-muted">
		{% for author in book.author.all %}
		<a href="{% url 'author' author.id %}" >{{ author }}</a>
		{% endfor %}
	</h6>
	  <p class="card-text">{{ book.description }}</p>
	  <a href="{% url 'book' book.id %}" class="btn btn-primary">Подробнее</a>
	</div>
  </div>
{% endfor %}

{% endblock %}